body {
    font-family: "Georgia",cursive;
}
.top_navbar {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: #3366CC;
    color: #dae2e8;
    border: 4px double #c0d6e4;
    border-radius: 5px;
}
.welcome {
    margin-left: 30px;
    font-weight: bold;
}
.logout-form {
    margin: 0;
}
.logout_button {
    padding: 5px 10px;
    margin-right: 30px;
    cursor: pointer;
    background-color: #fb614c;
    color: darkblue;
    border: 2px ridge darkblue;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.logout_button:hover {
    background-color: darkred;
}
.user-table {
    width: 85%;
    margin-inline: 15px;
}
.general_view {
    margin-top: 10px;
    display: flex;
    width: 95%;
}
h2 {
    padding: 20px;
    text-align: center;
    color: navy;
}
h3 {
    text-align: center;
    color: #3366CC;
}
h5 {
    font-style: normal;
    color: #3366CC;
}
table {
    width: 100%;
    border-collapse: collapse;
    text-overflow: ellipsis
}
th {
    font-weight: bold;
    text-align: center;
    padding: 5px;
    background-color: #3366CC;
    border: 4px double #c0d6e4;
    color: #dae2e8;
}
th:nth-child(1) {
    width: 10%;
}
th:nth-child(2) {
    width: 20%;
}
th:nth-child(3) {
    width: 20%;
}
th:nth-child(4) {
    width: 35%;
}
th:nth-child(5) {
    width: 15%;
    max-width: 50px;
}
td {
    border: 2px ridge #c0d6e4;
    padding: 5px;
    width: fit-content;
    text-align: center;
}
.button-group {
    display: inline-block;
    gap: 20%;
}
.update_button {
    border: 2px ridge #c0d6e4;
    border-radius: 5px;
    font-weight: bolder;
    color: #718091;
    background-color: #f6e16d;
}
.delete_button {
    border: 2px ridge #c0d6e4;
    border-radius: 5px;
    font-weight: bolder;
    color: #718091;
    background-color: #fb614c;
}
.add_button {
    align-items: center;
    border: 2px ridge #c0d6e4;
    border-radius: 3px;
    padding: 5px 15px;
    background: #3366CC;
    cursor: pointer;
    color: white;
}
.user_button {
    cursor: pointer;
    border: 2px ridge #c0d6e4;
    margin-top: 30px;
    border-radius: 3px;
    position: sticky;
    background-color: #3366CC;
}
.back {
    align-items: center;
    margin-top: 30px;
    text-align: center;
    color: navy;
}
